<h1>hello admin</h1>
<%= button_to 'Logout', destroy_admin_user_session_path, method: :delete %>
<%= link_to 'View all traders', admin_trader_index_path %>
<%= link_to 'View All Transactions', admin_transactions_path %>

<% @users.each do |user| %>
  <div class="grid grid-cols-3">
  <% if user.confirmed?%>
    <p><%= user.email %></p>
    <p><%= user.status %></p>
    <%= button_to "Approve", approve_admin_dashboard_path(user), method: :post %>
  <%end%>
  </div>
<% end %>
