<h1 class = 'text-3xl mb-8 mt-6 font-bold text-gray-800 dark:text-gray-50'>Explore Stock News </h1>
<% @news.reverse.each do |stock_new|%>
  <div class = 'shadow-[0_0_10px_rgba(0,0,0,0.1)] p-6 rounded-sm  mb-6 grid grid-cols-[3fr,1fr]  gap-5 bg-white dark:bg-gray-700 dark:text-gray-100' >
    <div class = 'flex justify-center flex-col'>
      <h1 class = 'text-xl font-bold text-gray-700 dark:text-gray-100 mb-2'>
        <%= stock_new.source %>
      </h1>
      <h3 class = 'underline mb-2'>
        <a href="<%=stock_new.url%>" target = '_blank' >
          <%= stock_new.headline %>
        </a>
      </h3>
      <p class = 'text-sm dark:text-gray-200 leading-relaxed text-justify'>
        <%= stock_new.summary %>
      </p>
    </div>
    <p class = ' '>
      <%= image_tag(stock_new.image, alt: 'Logo',class: 'w-full h-full  object-fit') %>
    </p>
  </div>
</a>
<%end%>