<div class = 'p-6  shadow-[0_0_10px_rgba(0,0,0,0.15)] dark:shadow-[0_0_10px_rgba(0,0,0,0.55)] bg-white dark:bg-gray-700'>
  <ul class = 'grid grid-cols-[0.75fr,1.4fr,0.75fr,0.75fr,0.75fr,1fr,0.75fr,1fr] text-lg font-bold  mb-2 pb-2 border-b-[2px] border-b-gray-600 dark:text-gray-200 dark:border-b-gray-600'>
    <li>Symbol</li>
    <li class = 'ml-[-4px]' >Company</li>
    <li>Shares</li>
    <li class = 'ml-[-8px]'> Price</li>
    <li class = 'ml-[-8px]'> Avg Price</li>
    <li class = 'ml-[-8px]'> Profit/Loss</li>
    <li class = 'ml-[-8px]'> Total</li>
  </ul>
  <% if @porfolio_stocks.present? %>
    <div class = 'portfolio_scroll overflow-y-scroll overflow-x-hidden h-[25vh]'>
      <%@porfolio_stocks.sort_by! { |stock| stock[:created_at] }.reverse!.each do |stock|%>
        <ul class = 'grid  grid-cols-[0.75fr,1.4fr,0.75fr,0.75fr,0.75fr,1fr,0.75fr,1fr]  text-center text-md mb-2 pb-2 border-b-[1px] border-b-gray-200 dark:text-gray-200 dark:border-b-gray-600' >
          <li class = 'flex items-center  gap-2 '>
            <%= image_tag(stock[:logo], alt: 'Logo',class: 'w-6 h-6  object-fit') %> <%= stock[:symbol] %>
          </li>
          <li class = 'flex items-center  gap-2 '>
            <%= stock[:company_name]%>
          </li>
          <li class = 'flex items-center  gap-2 '>
            <%= stock[:shares]%>
          </li>
          <li class = 'flex items-center  gap-2 '>
            $<%= stock[:latest_price] %>
          </li>
          <li class = 'flex items-center  gap-2 '>
            $<%=  stock[:avg_price] %>
          </li>
          <li class = 'flex items-center  gap-1 '>
            <span class = "<%= stock[:profit_loss] >= 0  ? 'text-green-700 dark:text-green-500' : 'text-red-700 dark:text-red-500'%>">
              <%= stock[:profit_loss] >= 0 ? '+' : '-' %>
              <%= number_to_currency(stock[:profit_loss]) %>
            </span>
            <span class = "text-[14px]  <%= stock[:gain_loss] >= 0  ? 'text-green-600 text-green-500' : 'text-red-600 text-red-500'%>">
              (<%= format('%.2f', stock[:gain_loss]) %>%)
            </span>
          </li>
          <li class = 'flex items-center  gap-2 '>
            <%= number_to_currency(stock[:avg_price] * stock[:shares]) %>
          </li>
          <li class = 'flex gap-2 items-center justify-center'>
            <%= link_to 'Buy',new_trader_transaction_path(transaction: { stock_symbol: stock[:symbol], stock_price: stock[:latest_price], transaction_type: :buy }) ,class: 'text-sm px-5 py-2 bg-green-600 dark:bg-green-700 text-white rounded-md '%>
            <% if current_user && current_user.stocks.exists?(symbol: stock[:symbol]) && current_user.stocks.find_by(symbol: stock[:symbol]).shares > 0 %>
              <%= link_to 'Sell', new_trader_transaction_path(transaction: { stock_symbol: stock[:symbol], stock_price: stock[:latest_price], transaction_type: :sell }), class: 'text-sm px-5 py-2 bg-red-600 dark:bg-red-700 text-white rounded-md' %>
            <% else %>
              <span class='text-sm px-5 py-2 bg-gray-400 text-white rounded-md cursor-not-allowed'>Sell</span>
            <% end %>
          </li>
        </ul>
      <%end%>
    </div>
  <% else %>
    <div class='w-full h-[20vh] text-gray-400 flex items-center justify-center'>
      <p>You currently have no stocks</p>
    </div>
  <%end%>
</div>
</div>
