<div class = "w-full">
  <% if current_user.status == 'approved' %>
    <h1 class = 'text-gray-800 dark:text-gray-100 text-4xl font-bold'>
      Portfolio
    </h1>
    <div class = 'grid grid-cols-[1fr,2fr] gap-10 mt-6 mb-8'>
      <div data-controller="content-loader" data-content-loader-url-value="<%= index_load_total_trader_portfolio_index_path %>" >
        <div class = 'flex items-center justify-center h-full'>
          <%= render 'shared/loading'%>
        </div>
      </div>
      <div class = 'bg-white dark:bg-gray-100 p-6 shadow-[0_0_10px_rgba(0,0,0,0.15)] text-red rounded-sm' >
        <%= pie_chart @pie_chart_data , height: '350px', loading: "Loading..." ,empty: "No data" %>
      </div>
    </div>
    <div data-controller="content-loader" data-content-loader-url-value="<%= index_load_table_trader_portfolio_index_path %>" >
      <%= render 'shared/loading'%>
    </div>
  <% else %>
    <div class = 'w-[600px] mx-auto h-[60vh] flex items-center flex-col justify-center  '>
      <div class = 'p-8 shadow-[0_0_10px_rgba(0,0,0,0.1)] bg-white  dark:shadow-[0_0_10px_rgba(0,0,0,0.5)]  dark:bg-gray-600  '>
        <h1 class = 'font-bold text-2xl text-gray-800 dark:text-gray-100'> Account Pending Approval.</p>
        <p class = 'font-semibold text-[16px] text-gray-600 dark:text-gray-100'>
          " Your ability to engage in transactions like buying and selling stocks is temporarily disabled until our administrators review and approve your account. We'll notify you once your account is approved. Thank you for your cooperation."
        </p>
      <%end%>
    </div>