<% if current_user.status == 'approved' %>
  <div class = 'w-full'>
    <h1 class = 'text-gray-800 dark:text-gray-100 text-4xl font-bold'>
      Portfolio
    </h1>
    <div class = 'grid grid-cols-[1fr,2fr] gap-10 mt-6 mb-8'>
      <div class = ' flex items-center justify-center p-6 shadow-[0_0_10px_rgba(0,0,0,0.15)] rounded-sm dark:shadow-[0_0_10px_rgba(0,0,0,0.55)] bg-white dark:bg-gray-700'>
        <ul>
          <li class =' text-2xl font-bold text-gray-500 dark:text-gray-200 mb-2 '>
            Cash Balance
          </li>
          <li  class = ' pl-10 text-3xl font-bold text-sky-800 dark:text-blue-500  mb-4'>
            <%= number_to_currency(current_user.balance) %>
          </li>
          <li class =' text-2xl font-bold text-gray-500 dark:text-gray-200  mb-2 '>
            Porfolio Value
          </li>
          <li class = ' pl-10  text-3xl font-bold text-sky-800 dark:text-blue-500   mb-4'>
            <%= number_to_currency(@total_portfolio) %>
          </li>
          <li class =' text-2xl font-bold text-gray-500  dark:text-gray-200 mb-2 '>
            Portfolio Profit & Loss
          </li>
          <li  class = "pl-10 text-3xl font-bold mb-4 flex items-center gap-2 <%= @total_profit_loss >= 0 ? 'text-sky-800 dark:text-blue-500' : 'text-red-800 dark:text-red-600' %> ">
            <%= number_to_currency(@total_profit_loss) %>
            <span class = "text-[14px] ">
              (<%= format('%.2f', @total_gain_loss) %>%)
            </span>
          </li>
        </ul>
      </div>
      <div class = 'bg-white dark:bg-gray-200 rounded-sm p-6 shadow-[0_0_10px_rgba(0,0,0,0.15)] rounded-sm' >
        <%= pie_chart @pie_chart_data, height: '350px', library: { pieSliceText: 'value', textColor: 'white' }, loading: "Loading..." %>
      </div>
    </div>
    <div class = 'p-6  shadow-[0_0_10px_rgba(0,0,0,0.15)] dark:shadow-[0_0_10px_rgba(0,0,0,0.55)] bg-white dark:bg-gray-700'>
      <ul class = 'grid grid-cols-[0.75fr,1.4fr,0.75fr,0.75fr,1fr,0.75fr,1fr] text-lg font-bold  mb-2 pb-2 border-b-[2px] border-b-gray-600 dark:text-gray-200 dark:border-b-gray-600'>
        <li>Symbol</li>
        <li class = 'ml-[-4px]' >Company</li>
        <li>Shares</li>
        <li class = 'ml-[-8px]'> Price</li>
        <li class = 'ml-[-8px]'> Profit/Loss</li>
        <li class = 'ml-[-8px]'> Total</li>
      </ul>
      <% if @porfolio_stocks.present? %>
        <div class = 'portfolio_scroll overflow-y-scroll overflow-x-hidden h-[32vh]'>
          <% @porfolio_stocks.each do |stock|%>
            <ul class = 'grid  grid-cols-[0.75fr,1.4fr,0.75fr,0.75fr,1fr,0.75fr,1fr]  text-center text-md mb-2 pb-2 border-b-[1px] border-b-gray-200 dark:text-gray-200 dark:border-b-gray-600' >
              <li class = 'flex items-center  gap-2 '>
                <%= image_tag(stock[:logo], alt: 'Logo',class: 'w-6 h-6  object-fit') %> <%= stock[:symbol] %>
              </li>
              <li class = 'flex items-center  gap-2 '>
                <%= stock[:company_name]%>
              </li>
              <li class = 'flex items-center  gap-2 '>
                <%= stock[:shares]%>
              </li>
              <li class = 'flex items-center  gap-2 '>
                $<%= stock[:latest_price] %>
              </li>
              <li class = 'flex items-center  gap-1 '>
                <span class = "<%= stock[:profit_loss] >= 0  ? 'text-green-800 dark:text-green-600' : 'text-red-800 dark:text-red-600'%>">
                  <%= stock[:profit_loss] >= 0 ? '+' : '' %>
                  <%= number_to_currency(stock[:profit_loss]) %>
                </span>
                <span class = "text-[14px]  <%= stock[:gain_loss] >= 0  ? 'text-green-600 text-green-500' : 'text-red-600 text-red-500'%>">
                  (<%= format('%.2f', stock[:gain_loss]) %>%)
                </span>
              </li>
              <li class = 'flex items-center  gap-2 '>
                <%= number_to_currency(stock[:latest_price]  * stock[:shares]) %>
              </li>
              <li class = 'flex gap-2 items-center justify-center'>
                <%= link_to 'Buy', new_trader_transaction_path(transaction: { stock_symbol:stock[:symbol], stock_price: stock[:latest_price], transaction_type: :buy }) ,class: 'text-sm px-5 py-2 bg-green-600 dark:bg-green-700 text-white rounded-md '%>
                <% if current_user && current_user.stocks.exists?(symbol: stock[:symbol]) && current_user.stocks.find_by(symbol: stock[:symbol]).shares > 0 %>
                  <%= link_to 'Sell', new_trader_transaction_path(transaction: { stock_symbol: stock[:symbol], stock_price: stock[:latest_price], transaction_type: :sell }), class: 'text-sm px-5 py-2 bg-red-600 dark:bg-red-700 text-white rounded-md' %>
                <% else %>
                  <span class='text-sm px-5 py-2 bg-gray-400 text-white rounded-md cursor-not-allowed'>Sell</span>
                <% end %>
              </li>
            </ul>
          <%end%>
        </div>
      <% else %>
        <div class='w-full h-[20vh] text-gray-400 flex items-center justify-center'>
          <p>You currently have no stocks</p>
        </div>
      <%end%>
    </div>
  </div>
<% else %>
  <div class = 'w-[600px] mx-auto h-[60vh] flex items-center flex-col justify-center  '>
    <div class = 'p-8 shadow-[0_0_10px_rgba(0,0,0,0.1)] bg-white  dark:shadow-[0_0_10px_rgba(0,0,0,0.5)]  dark:bg-gray-600  '>
      <h1 class = 'font-bold text-2xl text-gray-800 dark:text-gray-100'> Account Pending Approval.</p>
      <p class = 'font-semibold text-[16px] text-gray-600 dark:text-gray-100'>
        " Your ability to engage in transactions like buying and selling stocks is temporarily disabled until our administrators review and approve your account. We'll notify you once your account is approved. Thank you for your cooperation."
      </p>
    </div>
  </div>
<%end%>
