<h1>All Transactions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Stock Symbol</th>
      <th>Quantity</th>
      <th>Stock Price</th>
      <th>Total</th>
      <th>Transaction Type</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= "#{transaction.user.lastname}, #{transaction.user.firstname}" %></td>
        <td><%= transaction.stock_symbol %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.stock_price %></td>
        <td><%= transaction.total %></td>
        <td><%= transaction.transaction_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', admin_dashboard_index_path, class: 'button' %>