<div class="w-full mt-10 p-6 bg-white dark:bg-gray-700 dark:text-gray-50 shadow-[0_0_10px_rgba(0,0,0,0.15)] rounded-md">
  <h1 class="text-3xl font-semibold mb-4">All Transactions</h1>
  <div class="">
    <% if @transactions.present?%>
      <table class="table-auto w-full">
        <thead>
          <tr class = 'dark:border-gray-400 border'>
            <th class="px-4 py-2 bg-gray-200 dark:bg-gray-500 dark:border-gray-400 border">User Email</th>
            <th class="px-4 py-2 bg-gray-200 dark:bg-gray-500 dark:border-gray-400 border">Stock Symbol</th>
            <th class="px-4 py-2 bg-gray-200 dark:bg-gray-500 dark:border-gray-400 border">Date</th>
            <th class="px-4 py-2 bg-gray-200 dark:bg-gray-500 dark:border-gray-400 border">Transaction Type</th>
            <th class="px-4 py-2 bg-gray-200 dark:bg-gray-500 dark:border-gray-400 border">Quantity</th>
            <th class="px-4 py-2 bg-gray-200 dark:bg-gray-500 dark:border-gray-400 border">Stock Price</th>
            <th class="px-4 py-2 bg-gray-200 dark:bg-gray-500 dark:border-gray-400 border">Total</th>
          </tr>
        </thead>
        <div>
          <tbody class = 'admin_transaction_scroll overflow-y-scroll overflow-x-hidden h-[5vh]'>
            <% @transactions.reverse.each do |transaction| %>
              <tr>
                <% transaction_clr =  transaction.transaction_type == 'buy' || transaction.transaction_type == 'deposit' ? 'text-green-700 dark:text-green-500' : 'text-red-700 dark:text-red-500'%>
                <td class="dark:border-gray-400 border px-4 py-2 "><%= "#{transaction.user.email}" %></td>
                <td class="dark:border-gray-400 border px-4 py-2 ">
                  <% if transaction.stock_symbol.present? %>
                    <%= transaction.stock_symbol %></td>
                <%else%>
                  <span>-</span>
                <%end%>
                <td class="dark:border-gray-400 border px-4 py-2 ">
                  <% transaction_created_at = transaction.created_at + 8.hours%>
                  <%= transaction_created_at.strftime("%B %d, %Y %H:%M:%S %p") %></td>
                <td class="dark:border-gray-400 border px-4 py-2  <%=transaction_clr %>">
                  <%= transaction.transaction_type == 'buy' ? 'Buy' :  transaction.transaction_type == 'sell' ? 'Sell' :  transaction.transaction_type == 'withdraw' ? 'Withdraw' : 'Deposit' %></td>
                <td class="dark:border-gray-400 border px-4 py-2   <%= transaction.transaction_type == 'buy' ? 'text-green-700 dark:text-green-500' : transaction.transaction_type == 'sell' ?  'text-red-700 dark:text-red-500': '' %>">
                  <%= transaction.transaction_type == 'buy' ? '+' : '-' %>
                  <%= transaction.quantity %>
                </td>
                <td class="dark:border-gray-400 border px-4 py-2 ">
                  <% if transaction.stock_price.present? %>
                    <%= transaction.stock_price %></td>
                <%else%>
                  <span>-</span>
                <%end%>
                <td class="dark:border-gray-400 border px-4 py-2  <%= transaction.transaction_type == 'buy' ? 'text-red-700 dark:text-red-500' : 'text-green-700 dark:text-green-500' %>">
                  <%= transaction.transaction_type == 'buy' ? '-' : '+' %>
                  <%= transaction.total %></td>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <div class='w-full h-[20vh] text-gray-400 flex items-center justify-center'>
            <p>No transactions available</p>
          </div>
        <%end %>
      </div>
    </table>
    <div class="mt-6">
      <%= link_to 'Back', admin_dashboard_index_path, class: " bg-blue-500 hover:bg-gray-600 text-gray-100 font-bold py-2 px-4 rounded" %>
    </div>
  </div>
</div>
