<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in",class: 'py-2 px-6 border-[1px] ' %>
  </div>
  <% end %>
  <p class = ' my-2'>
  <%= link_to 'User Sign In', new_user_session_path, class: 'py-2 px-4 border-[1px] '%>
  </p>

<%= render "admin_users/shared/links" %>
