 <% @transactions.each do |transaction|%>
    <ul>
      <li>
      <%= transaction.stock_symbol%>
      </li>
      <li>
      <%= transaction.quantity%>
      </li>
      <li>
      <%= transaction.stock_price%>
      </li>
      <li>
      <%= transaction.transaction_type%>
      </li>
      <li>
      <%= transaction.total%>
      </li>
    </ul>

<%end%>
