<div class = 'w-full'>
  <% if current_user.status == 'approved' %>
  <h1 class = 'text-gray-700 text-4xl font-bold'>
    Transaction History
  </h1>
  <div class = 'flex items-center h-[60vh] justify-center w-full'>
    <div class = 'w-full' >
      <ul class = 'grid grid-cols-[0.75fr,0.75fr,1.25fr,0.75fr,0.75fr,.75fr,0.75fr] text-lg font-bold  mt-4 mb-2 pb-2 border-b-[2px] border-b-gray-600'>
        <li>Symbol</li>
        <li class = 'ml-[-8px]'>Type</li>
        <li class = 'ml-[-8px]'>Date Created</li>
        <li class = 'ml-[-8px]'>Price</li>
        <li>Shares</li>
        <li class = 'ml-[-8px]'>Total Value</li>
        <li class = 'ml-[-8px]'>Balance</li>
      </ul>
    <% if @transactions.present?%>
      <div class = 'transaction_scroll overflow-y-scroll overflow-x-hidden h-[50vh]'>
        <% @transactions.each do |transaction|%>
          <ul class = 'grid  grid-cols-[0.75fr,0.75fr,1.25fr,0.75fr,0.75fr,.75fr,0.75fr] text-center text-md mb-2 pb-2 border-b-[1px] border-b-gray-200 ' >
            <li class = 'flex items-center  gap-2 '>
            <%= image_tag(transaction[:logo], alt: 'Logo',class: 'w-6 h-6  object-fit') %> <%= transaction[:stock_symbol] %>
            </li>
            <li class = "flex items-center  gap-2 <%= transaction[:transaction_type] == 'buy' ? 'text-green-700' : 'text-red-700' %>">
            <%= transaction[:transaction_type] == 'buy' ? 'Buy' : 'Sell' %>
            </li>
            <li class = 'flex items-center  gap-2 '>
            <% transaction_created_at = transaction[:created_at] + 8.hours%>
            <%= transaction_created_at.strftime("%B %d, %Y %H:%M:%S %p") %>
            </li>
            <li class = 'flex items-center  gap-2 '>
            <%= number_to_currency(transaction[:stock_price], unit: '$') %>
            </li>
            <li class = 'flex items-center pl-4  gap-2 <%= transaction[:transaction_type] == 'buy' ? 'text-green-700' : 'text-red-700' %>'>
            <%= transaction[:transaction_type] == 'buy' ? '+' : '-' %>
            <%= transaction[:quantity]%>
            </li>
            <li class = "flex items-center  gap-2  <%= transaction[:transaction_type] == 'buy' ? 'text-red-700' : 'text-green-700' %>">
            <%= transaction[:transaction_type] == 'buy' ? '-' : '+' %>
            <%= number_to_currency(transaction[:total], unit: '$') %>
            </li>
            <li class = "flex items-center  gap-2  <%= transaction[:transaction_type] == 'buy' ? 'text-red-700' : 'text-green-700' %>">
            <%= transaction[:transaction_type] == 'buy' ? '-' : '+' %>
            <%= number_to_currency(transaction[:user_balance], unit: '$') %>
            </li>
          </ul>
        <%end%>
      </div>
      <% else %>
        <div class='w-full h-[20vh] text-gray-400 flex items-center justify-center'>
        <p>No transactions available</p>
        </div>
    <%end%>
    </div>
  </div>
  <% else %>
  <div class = 'w-[600px] mx-auto h-[60vh] flex items-center flex-col justify-center '>
  <div class = 'p-8 shadow-[0_0_10px_rgba(0,0,0,0.1)] bg-white'>
    <h1 class = 'font-bold text-2xl text-gray-800'> Account Pending Approval.</p>
    <p class = 'font-semibold text-[16px] text-gray-600'>
      " Your ability to engage in transactions like buying and selling stocks is temporarily disabled until our administrators review and approve your account. We'll notify you once your account is approved. Thank you for your cooperation."
    </p>
  </div>
  </div>
  <%end%>

</div>
