
<h1 class = 'text-gray-700 text-4xl font-bold mt-10'>
  Transaction History
</h1>
<div class = 'flex items-center h-[50vh] justify-center w-full'>
  <div class = 'w-full' >
    <ul class = 'grid grid-cols-[0.75fr,0.75fr,1.5fr,0.75fr,1.25fr,.75fr] text-lg font-bold  mt-4 mb-2 pb-2 border-b-[2px] border-b-gray-600'>
      <li>Symbol</li>
      <li>Stock Shares</li>
      <li>Company Name</li>
      <li> Price</li>
      <li> Date Created</li>
      <li> Total Value</li>
    </ul>
    <div class = 'transaction_scroll overflow-y-scroll overflow-x-hidden h-[40vh]'>
      <% @transactions.each do |transaction|%>
        <ul class = 'grid  grid-cols-[0.75fr,0.75fr,1.5fr,0.75fr,1.25fr,.75fr] text-center text-md mb-2 pb-2 border-b-[1px] border-b-gray-200 ' >
          <li class = 'flex items-center  gap-2 '>
          <%= image_tag(transaction[:logo], alt: 'Logo',class: 'w-6 h-6  object-fit') %> <%= transaction[:stock_symbol] %>
          </li>
          <li class = 'flex items-center  gap-2 '>
          <%= transaction[:quantity]%>
          </li>
          <li class = 'flex items-center  gap-2 '>
          <%= transaction[:company_name]%>
          </li>
          <li class = 'flex items-center  gap-2 '>
          <%= number_to_currency(transaction[:stock_price], unit: '$') %>
          </li>
          <li class = 'flex items-center  gap-2 '>
          <%= transaction[:created_at].strftime("%B %d, %Y %H:%M:%S") %>

          </li>
          <li class = 'flex items-center  gap-2 '>
          <%= number_to_currency(transaction[:total], unit: '$') %>
          </li>
        </ul>
      <%end%>
    </div>
  </div>
</div>
