<!DOCTYPE html>
<html>
  <head>
    <title>StockTradingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/4a45b90c57.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>
  <% if request.path == new_user_session_path ||  request.path == new_admin_user_session_path || request.path == new_user_registration_path || request.path == new_user_confirmation_path  ||  request.path == new_user_password_path  ||  request.path == new_admin_user_password_path || request.path == root_path || request.path == user_registration_path || request.path ==  user_confirmation_path || request.path ==  user_password_path || request.path ==   admin_user_password_path %>
    <section class="backgound__video">
      <video id="video" autoplay loop muted>
        <source src="<%= asset_path('bg-video.mp4') %>" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </section>
  <%end%>
  <body class="bg-gray-50 dark:bg-gray-800">
    <header class="w-full  fixed top-0 left-0   z-50 <%= request.path == new_user_session_path || request.path == new_admin_user_session_path || request.path == new_user_registration_path || request.path == new_user_confirmation_path  ||  request.path == new_user_password_path  ||  request.path == new_admin_user_password_path || request.path == root_path ||  request.path  == user_registration_path || request.path ==  user_confirmation_path || request.path ==  user_password_path || request.path ==   admin_user_password_path  ? 'bg-transparent dark:bg-transparent  dark:shadow-none py-2  ': 'shadow-[0_0_10px_rgba(0,0,0,0.15)] dark:bg-gray-700 text-gray-800 dark:text-gray-100 '%>">
      <nav class="flex items-center justify-between w-[clamp(300px,90%,1300px)] mx-auto font-bold text-lg">
        <ul class="flex">
          <% unless   user_signed_in? || admin_user_signed_in?%>
            <li class = " flex items-center gap-2 relative w-[200px]"  >
              <%= image_tag 'stock_logo.png',class: 'w-24 h-16' %>
              <span class = 'w-full absolute top-1/2 left-[180px] translate-x-[-50%] translate-y-[-50%] text-gray-200 100 text-lg'>
                <%= link_to ' Trading App', root_path%>
              </span>
            </li>
          <%end%>
          <% if user_signed_in? || admin_user_signed_in?%>
            <% if current_admin_user %>
              <li class = "py-4 px-6 <%= request.path == admin_dashboard_index_path ? 'bg-[#001F3F] text-white dark:bg-gray-600 dark:text-gray-100' : ''%>">
                <%= link_to 'Dashboard', admin_dashboard_index_path %>
              </li>
              <li class = "py-4 px-6 <%= request.path == admin_trader_index_path ? 'bg-[#001F3F] text-white dark:bg-gray-600 dark:text-gray-100' : '' %>">
                <%= link_to 'Accounts', admin_trader_index_path%>
              </li>
              <li class = "py-4 px-6 <%=request.path == admin_transactions_path ? 'bg-[#001F3F] text-white dark:bg-gray-600 dark:text-gray-100' : '' %>">
                <%= link_to 'Transactions', admin_transactions_path %>
              </li>
            <% else %>
              <li class = "py-4 px-6 <%=request.path == news_path ? 'bg-[#001F3F] text-white dark:bg-gray-600 dark:text-gray-100' : ''%>">
                <%= link_to 'News', news_path %>
              </li>
              <li class = "py-4 px-6 <%= request.path == trader_dashboard_index_path ? 'bg-[#001F3F] text-white dark:bg-gray-600 dark:text-gray-100' : '' %>">
                <%= link_to 'Dashboard', trader_dashboard_index_path %>
              </li>
              <li class = "py-4 px-6 <%= request.path == trader_portfolio_index_path ? 'bg-[#001F3F] text-white dark:bg-gray-600 dark:text-gray-100' : '' %>">
                <%= link_to 'Portfolio', trader_portfolio_index_path  %>
              </li>
              <li class = "py-4 px-6 <%= request.path == trader_transactions_path ? 'bg-[#001F3F] text-white dark:bg-gray-600 dark:text-gray-100' : ''%>">
                <%= link_to 'Transaction History', trader_transactions_path %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <div class="flex items-center gap-4">
          <% if !user_signed_in? && !admin_user_signed_in? %>
            <%= link_to 'Sign In', new_user_session_path, class: 'text-gray-200 dark:text-white ' %>
          <% else %>
            <% if current_user %>
              <% if current_user.profile_picture.attached? %>
                <%= image_tag url_for(current_user.profile_picture),class: 'w-8 h-8 rounded-full object-cover' %>
              <% else %>
                <%= image_tag image_path('default_profile.png'),class: 'w-8 h-8 rounded-full object-cover' %>
              <% end %>
              <%= link_to "Profile", profile_trader_profiles_path %>
            <% elsif current_admin_user %>
              <%= link_to "Logout", destroy_admin_user_session_path, data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
            <% end %>
          <% end %>
          <% unless  request.path == new_user_session_path || request.path == new_admin_user_session_path || request.path == new_user_registration_path || request.path == root_path %>
            <button id="theme-toggle" class=""></button>
          <%end%>
        </div>
      </nav>
    </header>
    <div class="w-[clamp(300px,90%,1300px)] mx-auto min-h-screen grid place-items-center <%= request.path == new_user_session_path || request.path == new_admin_user_session_path ? '' : (request.path == new_user_registration_path || request.path == root_path || request.path ==  user_registration_path   ? 'pt-0 pb-0' : 'pt-[85px] pb-6') %>
relative z-100">
      <div class="absolute top-[100px] right-0 translate-x-0 translate-y-[-40%] w-[clamp(300px,90%,550px)] z-10">
        <% unless notice.blank? %>
          <div class="flex justify-between items-center bg-green-200 text-green-900 px-4 py-3 rounded-md flex-grow-1 w-full self-start show">
            <p class="notice"><%= notice %></p>
            <button type="button" class="close-button" onclick="this.parentNode.style.display = 'none';">×</button>
          </div>
        <% end %>
        <% unless alert.blank? %>
          <div class="flex justify-between items-center bg-red-200 text-red-900 px-4 py-3 rounded-md flex-grow-1 w-full self-start show">
            <p class="alert"><%= alert %></p>
            <button type="button" class="close-button" onclick="this.parentNode.style.display = 'none';">×</button>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
