<div class="p-6 bg-white shadow-[0_0_10px_rgba(0,0,0,0.15)] rounded-md mx-auto w-[clamp(300px,90%,500px)]">
  <h1 class = 'text-center font-bold text-2xl '> <%=@trader.new_record? ? "New Trader" : "Edit Trader" %> </h1>
  <%= form_with(model:@trader, url: admin_trader_index_path, data: { turbo: false }) do |f| %>
    <%= render 'shared/error_messages', obj: @trader %>
    <div class="mb-4">
      <%= f.label :firstname, class: "block text-gray-700 font-semibold mb-2" %>
      <%= f.text_field :firstname, class: "w-full rounded border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "Enter trader's first name"%>
    </div>
    <div class="mb-4">
      <%= f.label :lastname, class: "block text-gray-700 font-semibold mb-2" %>
      <%= f.text_field :lastname, class: "w-full rounded border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "Enter trader's last name" %>
    </div>
    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 font-semibold mb-2" %>
      <%= f.email_field :email, class: "w-full rounded border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder: "Enter trader's e-mail address",autocomplete: "email" %>
    </div>
    <div class="text-center flex items-center w-full justify-between">
      <%= f.submit @trader.new_record? ? "Create Trader" : "Update Trader" , class: "bg-blue-500 hover:bg-gray-600 text-gray-100 font-semibold py-2 px-4 rounded" %>
      <%= link_to 'Cancel', admin_trader_index_path,class: 'bg-gray-200 hover:bg-gray-600 hover:text-gray-100 font-semibold rounded py-2 px-4'%>
    </div>
  <% end %>
</div>
