<h2>Sign up</h2>

<%= form_with(model: @trader,url:admin_trader_path(@trader), data:{turbo:false}) do |f| %>
    <%= render 'shared/error_messages', object: @trader %>
    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :lastname %><br />
      <%= f.text_field :lastname %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email",readonly:true,class: ' text-gray-400 border-gray-300 rounded-sm'%>
    </div>

    <% if @trader.new_record? %>
    <div class="actions">
      <%= f.submit "Create Trader" %>
    </div>
  <% else %>
    <div class="actions">
      <%= f.submit "Update Trader" %>
    </div>
  <% end %>
<% end %>
