<div class = 'log_in flex items-center justify-center w-full'>
  <div class = 'py-6 px-8 shadow-[0_0_10px_rgba(0,0,0,0.1)] rounded-sm relative w-[clamp(300px,90%,400px)] overflow-hidden bg-[rgba(0,0,0,0.5)]'>
    <h2 class = 'text-2xl font-bold text-center mb-2 text-gray-50'>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <div class="w-full mb-2">
        <%= f.label :firstname  , class: 'font-semibold   text-sm text-gray-200'%>
        <%= f.text_field :firstname ,autofocus: true ,placeholder:'Enter your Firstname', class: 'w-full placeholder-shown:border-gray-400 text-base bg-[rgba(0,0,0,0.6)] placeholder-shown:border-gray-700   text-gray-50'%>
      </div>
      <div class="w-full mb-2">
        <%= f.label :lastname , class: 'font-semibold   text-sm text-gray-200' %>
        <%= f.text_field :lastname ,placeholder:'Enter your Lastname', class: 'w-full placeholder-shown:border-gray-400 text-bas bg-[rgba(0,0,0,0.6)] placeholder-shown:border-gray-700   text-gray-50' %>
      </div>
      <div class="w-full mb-2">
        <%= f.label :balance , class: 'font-semibold   text-sm text-gray-200' %>
        <%= f.text_field :balance  ,placeholder:'Enter your Balance', class: 'w-full placeholder-shown:border-gray-400 text-base bg-[rgba(0,0,0,0.6)] placeholder-shown:border-gray-700   text-gray-50'%>
      </div>
      <div class="w-full mb-2">
        <%= f.label :email , class: 'font-semibold   text-sm text-gray-200' %>
        <%= f.email_field :email, autocomplete: "email"  ,placeholder:'Enter your Email', class: 'w-full placeholder-shown:border-gray-400 text-base bg-[rgba(0,0,0,0.6)] placeholder-shown:border-gray-700   text-gray-50'%>
      </div>
      <div class="w-full mb-2">
        <%= f.label :password , class: 'font-semibold   text-sm text-gray-200 ' %>
        <% if @minimum_password_length %>
          <em class = 'text-gray-200'>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <div class = 'relative'>
          <%= f.password_field :password, autocomplete: "new-password" ,placeholder:'Enter your Password', class: 'w-full placeholder-shown:border-gray-400 text-base bg-[rgba(0,0,0,0.6)] placeholder-shown:border-gray-700   text-gray-50' %>
          <div class = 'show_password_menu absolute top-[50%] right-4 translate-x-[-50%] translate-y-[-50%] cursor-pointer'>
            <span class = 'open_password hidden'>
              <i class=" fa-solid fa-eye text-sm  text-gray-200"></i>
            </span>
            <span class = 'close_password'>
              <i class="fa-solid fa-eye-slash  text-sm  text-gray-200"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="w-full mb-4">
        <%= f.label :password_confirmation , class: 'font-semibold   text-sm text-gray-200' %>
        <div class = 'relative'>
          <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:'Confirm your Password', class: 'w-full placeholder-shown:border-gray-400 text-base bg-[rgba(0,0,0,0.6)] placeholder-shown:border-gray-700   text-gray-50' %>
          <div class = 'show_confirm_password_menu absolute top-[50%] right-4 translate-x-[-50%] translate-y-[-50%] cursor-pointer'>
            <span class = 'open_confirm_password hidden'>
              <i class=" fa-solid fa-eye text-sm  text-gray-200"></i>
            </span>
            <span class = 'close_confirm_password'>
              <i class="fa-solid fa-eye-slash  text-sm  text-gray-200"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Create Account",class: 'py-2 px-6 w-full  bg-blue-600  bg-opacity-70 w-full text-white font-semibold mb-1' %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </div>
</div>
<script>
  document.addEventListener('turbo:load', function() {

    const input1Password = document.getElementById('user_password');
    const show_password_menu = document.querySelector('.show_password_menu')
    const close_password = document.querySelector('.close_password')
    const open_password = document.querySelector('.open_password')

    show_password_menu?.addEventListener('click', ()=> {

    input1Password.type = input1Password.type === 'password' ? 'text' : 'password';

      close_password.classList.toggle("hidden");
      open_password.classList.toggle("hidden");

    })


    const input2Password = document.getElementById('user_password_confirmation');
    const show_confirm_password_menu = document.querySelector('.show_confirm_password_menu')
    const close_confirm_password = document.querySelector('.close_confirm_password')
    const open_confirm_password = document.querySelector('.open_confirm_password')

    show_confirm_password_menu?.addEventListener('click', ()=> {

    input2Password.type = input2Password.type === 'password' ? 'text' : 'password';

      close_confirm_password.classList.toggle("hidden");
      open_confirm_password.classList.toggle("hidden");

    })
  });
</script>
